*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.maincontent{
  margin:0;
}

.h-100{
  height: 100px;
}
.col-50{
  width: 50%;

}
.h-50{
  height: 50px;
}

.w-50{
  width: 50px;
}

.h-300{
  height: 300px;
}
.box-1{
  border: 1px solid black
}
/* misure da cancellare */
.box-1.centeredbox{
  top: 50%;
  left: 50%;
  transform: translate(-70%, -40%);
  position: absolute;

}

 .box-2{
   width: 50px;
   height: 50px;
   border: 1px solid black;
   margin:right 30px;
 }
.f-right{
  float: right;
}

.logotext{
  padding: 30px;
  text-align: center;
}


.box-2.f-right{
  position: relative;
  top:50%;
  transform: translate(0,-50%);
}

.col{
  background-color: green;

}

.col{
  float: left;
  position: relative;

}


.row::after{
  clear: both;
  content: "";
  display: table;

}

.col-33{
  width: calc(100% / 3)


}

nav{
  width: 100%;
  text-align: right;
  color: grey;
}

ul.menu li a{
  text-decoration: none;
  padding: 8px;
  color: darkgrey;
  font-size: 20px;


}


ul.menu li{
  display: inline-block;
  height: 45px;
  line-height: 45px;

}


.row .col{
  border: 1px solid black;
}


.row:nth-child(2) .col{
  background-color: yellow;
}


.bigbox{
  height: 300px;
  border: 1px solid black;
  background-color: CadetBlue;
  position: relative;
}


.central-content{
  height: 100px;
  width: 200px;
  background-color: white;
  border: 1px solid black;
  margin: auto;
}



.central-content2{
  height: 100px;
  width: 200px;
  background-color: white;
  border: 1px solid black;
  margin: auto;
  margin-top: 30px;
}
.tablebox{
  height: 300px;
  background-color: blue;
  border: 1px solid black;
}



.colbox1{
  height: 350px;
  width: 250px;
  background-color: Bisque;
  float: left;
  margin-left: 180px;

}


.col-25{
  background-color: DarkBlue;
  width: 25%;
}
